*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    /* menengahkan container */
    position: relative;

    /* menengahkan element di dalamnya*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* ngerapiin */
    padding: 1%;
    box-sizing: border-box;

    /* ukuran container */
    width: 30vw;
    height: 50vh;
    background-color: white;
    border: 1px solid black;
}


.items{
    /*kasih lebar ama tinggi dan position relative buat nanti itemnya absolute biar tidak mencar mencar elementnya*/
    position: relative;
    box-sizing: border-box;
    width:100%;
    height: 98%;

    /* menengahkan elemen */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* kasih jarak sama yang bawah */
    margin-bottom: 1vh;
}

.items >div.active{
    /* yang aktif opacity jadi satu */
    opacity: 1;
}
.items > .item-1, .items > .item-2, .items > .item-3{
    /* position absolute  agar bisa mengikuti parentnya sama buat ngatur width dan height*/
    position: absolute;
    width: 100%;
    height: 100%;
    
    /* Untuk desain isinya */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 4vh;
    background-color: rgb(209, 204, 204);

    /* Opacity biar nanti hilang semua biar yang aktif saja yang terlihat sama transition biar smooth aja waktu ganti slide */
    opacity: 0;
    transition: 500ms opacity ease-in-out;
}

.arrow{
    position: absolute;
    
    /* Menengahkan panahnya sama dikasih space beetween biar nyebar pojok -pojok */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* width 100% sama border box biar nanti tidak overflow untuk elementnya*/
    width: 100%;
    box-sizing: border-box;
}

.arrow >button{/* desain buttonnya */
    color: white;
    border: none;
    background: none;

    width:10%;
    height:100%;
    font-size:  2em;
    cursor: pointer;
}


.marker{/* desain markernya */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1vw;
    width:100%;
    height: 2%;
}

.marker >div{/* kalau tidak aktif backgroudn abu abu */
    width:1.5%;
    height: 100%;
    border-radius: 50%;
    background-color: gray;
}

.marker >div.active-marker{/* kalau aktif background biru */
    background-color: rgb(77, 202, 231);
}




